foo {
  c-361: transparent;
  c-360: transparent;
  c-359: transparent;
  c-358: transparent;
  c-357: transparent;
  c-356: transparent;
  c-355: transparent;
  c-354: transparent;
  c-353: transparent;
  c-352: transparent;
  c-351: transparent;
  c-350: transparent;
  c-349: transparent;
  c-348: transparent;
  c-347: transparent;
  c-346: transparent;
  c-345: transparent;
  c-344: transparent;
  c-343: transparent;
  c-342: transparent;
  c-341: transparent;
  c-340: transparent;
  c-339: transparent;
  c-338: transparent;
  c-337: transparent;
  c-336: transparent;
  c-335: transparent;
  c-334: transparent;
  c-333: transparent;
  c-332: transparent;
  c-331: transparent;
  c-330: transparent;
  c-329: transparent;
  c-328: transparent;
  c-327: transparent;
  c-326: transparent;
  c-325: transparent;
  c-324: transparent;
  c-323: transparent;
  c-322: transparent;
  c-321: transparent;
  c-320: transparent;
  c-319: transparent;
  c-318: transparent;
  c-317: transparent;
  c-316: transparent;
  c-315: transparent;
  c-314: transparent;
  c-313: transparent;
  c-312: transparent;
  c-311: transparent;
  c-310: transparent;
  c-309: transparent;
  c-308: transparent;
  c-307: transparent;
  c-306: transparent;
  c-305: transparent;
  c-304: transparent;
  c-303: transparent;
  c-302: transparent;
  c-301: transparent;
  c-300: transparent;
  c-299: transparent;
  c-298: transparent;
  c-297: transparent;
  c-296: transparent;
  c-295: transparent;
  c-294: transparent;
  c-293: transparent;
  c-292: transparent;
  c-291: transparent;
  c-290: transparent;
  c-289: transparent;
  c-288: transparent;
  c-287: transparent;
  c-286: transparent;
  c-285: transparent;
  c-284: transparent;
  c-283: transparent;
  c-282: transparent;
  c-281: transparent;
  c-280: transparent;
  c-279: transparent;
  c-278: transparent;
  c-277: transparent;
  c-276: transparent;
  c-275: transparent;
  c-274: transparent;
  c-273: transparent;
  c-272: transparent;
  c-271: transparent;
  c-270: transparent;
  c-269: transparent;
  c-268: transparent;
  c-267: transparent;
  c-266: transparent;
  c-265: transparent;
  c-264: transparent;
  c-263: transparent;
  c-262: transparent;
  c-261: transparent;
  c-260: transparent;
  c-259: transparent;
  c-258: transparent;
  c-257: transparent;
  c-256: transparent;
  c-255: transparent;
  c-254: transparent;
  c-253: transparent;
  c-252: transparent;
  c-251: transparent;
  c-250: transparent;
  c-249: transparent;
  c-248: transparent;
  c-247: transparent;
  c-246: transparent;
  c-245: transparent;
  c-244: transparent;
  c-243: transparent;
  c-242: transparent;
  c-241: transparent;
  c-240: transparent;
  c-239: transparent;
  c-238: transparent;
  c-237: transparent;
  c-236: transparent;
  c-235: transparent;
  c-234: transparent;
  c-233: transparent;
  c-232: transparent;
  c-231: transparent;
  c-230: transparent;
  c-229: transparent;
  c-228: transparent;
  c-227: transparent;
  c-226: transparent;
  c-225: transparent;
  c-224: transparent;
  c-223: transparent;
  c-222: transparent;
  c-221: transparent;
  c-220: transparent;
  c-219: transparent;
  c-218: transparent;
  c-217: transparent;
  c-216: transparent;
  c-215: transparent;
  c-214: transparent;
  c-213: transparent;
  c-212: transparent;
  c-211: transparent;
  c-210: transparent;
  c-209: transparent;
  c-208: transparent;
  c-207: transparent;
  c-206: transparent;
  c-205: transparent;
  c-204: transparent;
  c-203: transparent;
  c-202: transparent;
  c-201: transparent;
  c-200: transparent;
  c-199: transparent;
  c-198: transparent;
  c-197: transparent;
  c-196: transparent;
  c-195: transparent;
  c-194: transparent;
  c-193: transparent;
  c-192: transparent;
  c-191: transparent;
  c-190: transparent;
  c-189: transparent;
  c-188: transparent;
  c-187: transparent;
  c-186: transparent;
  c-185: transparent;
  c-184: transparent;
  c-183: transparent;
  c-182: transparent;
  c-181: transparent;
  c-180: transparent;
  c-179: transparent;
  c-178: transparent;
  c-177: transparent;
  c-176: transparent;
  c-175: transparent;
  c-174: transparent;
  c-173: transparent;
  c-172: transparent;
  c-171: transparent;
  c-170: transparent;
  c-169: transparent;
  c-168: transparent;
  c-167: transparent;
  c-166: transparent;
  c-165: transparent;
  c-164: transparent;
  c-163: transparent;
  c-162: transparent;
  c-161: transparent;
  c-160: transparent;
  c-159: transparent;
  c-158: transparent;
  c-157: transparent;
  c-156: transparent;
  c-155: transparent;
  c-154: transparent;
  c-153: transparent;
  c-152: transparent;
  c-151: transparent;
  c-150: transparent;
  c-149: transparent;
  c-148: transparent;
  c-147: transparent;
  c-146: transparent;
  c-145: transparent;
  c-144: transparent;
  c-143: transparent;
  c-142: transparent;
  c-141: transparent;
  c-140: transparent;
  c-139: transparent;
  c-138: transparent;
  c-137: transparent;
  c-136: transparent;
  c-135: transparent;
  c-134: transparent;
  c-133: transparent;
  c-132: transparent;
  c-131: transparent;
  c-130: transparent;
  c-129: transparent;
  c-128: transparent;
  c-127: transparent;
  c-126: transparent;
  c-125: transparent;
  c-124: transparent;
  c-123: transparent;
  c-122: transparent;
  c-121: transparent;
  c-120: transparent;
  c-119: transparent;
  c-118: transparent;
  c-117: transparent;
  c-116: transparent;
  c-115: transparent;
  c-114: transparent;
  c-113: transparent;
  c-112: transparent;
  c-111: transparent;
  c-110: transparent;
  c-109: transparent;
  c-108: transparent;
  c-107: transparent;
  c-106: transparent;
  c-105: transparent;
  c-104: transparent;
  c-103: transparent;
  c-102: transparent;
  c-101: transparent;
  c-100: transparent;
  c-99: transparent;
  c-98: transparent;
  c-97: transparent;
  c-96: transparent;
  c-95: transparent;
  c-94: transparent;
  c-93: transparent;
  c-92: transparent;
  c-91: transparent;
  c-90: transparent;
  c-89: transparent;
  c-88: transparent;
  c-87: transparent;
  c-86: transparent;
  c-85: transparent;
  c-84: transparent;
  c-83: transparent;
  c-82: transparent;
  c-81: transparent;
  c-80: transparent;
  c-79: transparent;
  c-78: transparent;
  c-77: transparent;
  c-76: transparent;
  c-75: transparent;
  c-74: transparent;
  c-73: transparent;
  c-72: transparent;
  c-71: transparent;
  c-70: transparent;
  c-69: transparent;
  c-68: transparent;
  c-67: transparent;
  c-66: transparent;
  c-65: transparent;
  c-64: transparent;
  c-63: transparent;
  c-62: transparent;
  c-61: transparent;
  c-60: transparent;
  c-59: transparent;
  c-58: transparent;
  c-57: transparent;
  c-56: transparent;
  c-55: transparent;
  c-54: transparent;
  c-53: transparent;
  c-52: transparent;
  c-51: transparent;
  c-50: transparent;
  c-49: transparent;
  c-48: transparent;
  c-47: transparent;
  c-46: transparent;
  c-45: transparent;
  c-44: transparent;
  c-43: transparent;
  c-42: transparent;
  c-41: transparent;
  c-40: transparent;
  c-39: transparent;
  c-38: transparent;
  c-37: transparent;
  c-36: transparent;
  c-35: transparent;
  c-34: transparent;
  c-33: transparent;
  c-32: transparent;
  c-31: transparent;
  c-30: transparent;
  c-29: transparent;
  c-28: transparent;
  c-27: transparent;
  c-26: transparent;
  c-25: transparent;
  c-24: transparent;
  c-23: transparent;
  c-22: transparent;
  c-21: transparent;
  c-20: transparent;
  c-19: transparent;
  c-18: transparent;
  c-17: transparent;
  c-16: transparent;
  c-15: transparent;
  c-14: transparent;
  c-13: transparent;
  c-12: transparent;
  c-11: transparent;
  c-10: transparent;
  c-9: transparent;
  c-8: transparent;
  c-7: transparent;
  c-6: transparent;
  c-5: transparent;
  c-4: transparent;
  c-3: transparent;
  c-2: transparent;
  c-1: transparent;
  c0: transparent;
  c1: transparent;
  c2: transparent;
  c3: transparent;
  c4: transparent;
  c5: transparent;
  c6: transparent;
  c7: transparent;
  c8: transparent;
  c9: transparent;
  c10: transparent;
  c11: transparent;
  c12: transparent;
  c13: transparent;
  c14: transparent;
  c15: transparent;
  c16: transparent;
  c17: transparent;
  c18: transparent;
  c19: transparent;
  c20: transparent;
  c21: transparent;
  c22: transparent;
  c23: transparent;
  c24: transparent;
  c25: transparent;
  c26: transparent;
  c27: transparent;
  c28: transparent;
  c29: transparent;
  c30: transparent;
  c31: transparent;
  c32: transparent;
  c33: transparent;
  c34: transparent;
  c35: transparent;
  c36: transparent;
  c37: transparent;
  c38: transparent;
  c39: transparent;
  c40: transparent;
  c41: transparent;
  c42: transparent;
  c43: transparent;
  c44: transparent;
  c45: transparent;
  c46: transparent;
  c47: transparent;
  c48: transparent;
  c49: transparent;
  c50: transparent;
  c51: transparent;
  c52: transparent;
  c53: transparent;
  c54: transparent;
  c55: transparent;
  c56: transparent;
  c57: transparent;
  c58: transparent;
  c59: transparent;
  c60: transparent;
  c61: transparent;
  c62: transparent;
  c63: transparent;
  c64: transparent;
  c65: transparent;
  c66: transparent;
  c67: transparent;
  c68: transparent;
  c69: transparent;
  c70: transparent;
  c71: transparent;
  c72: transparent;
  c73: transparent;
  c74: transparent;
  c75: transparent;
  c76: transparent;
  c77: transparent;
  c78: transparent;
  c79: transparent;
  c80: transparent;
  c81: transparent;
  c82: transparent;
  c83: transparent;
  c84: transparent;
  c85: transparent;
  c86: transparent;
  c87: transparent;
  c88: transparent;
  c89: transparent;
  c90: transparent;
  c91: transparent;
  c92: transparent;
  c93: transparent;
  c94: transparent;
  c95: transparent;
  c96: transparent;
  c97: transparent;
  c98: transparent;
  c99: transparent;
  c100: transparent;
  c101: transparent;
  c102: transparent;
  c103: transparent;
  c104: transparent;
  c105: transparent;
  c106: transparent;
  c107: transparent;
  c108: transparent;
  c109: transparent;
  c110: transparent;
  c111: transparent;
  c112: transparent;
  c113: transparent;
  c114: transparent;
  c115: transparent;
  c116: transparent;
  c117: transparent;
  c118: transparent;
  c119: transparent;
  c120: transparent;
  c121: transparent;
  c122: transparent;
  c123: transparent;
  c124: transparent;
  c125: transparent;
  c126: transparent;
  c127: transparent;
  c128: transparent;
  c129: transparent;
  c130: transparent;
  c131: transparent;
  c132: transparent;
  c133: transparent;
  c134: transparent;
  c135: transparent;
  c136: transparent;
  c137: transparent;
  c138: transparent;
  c139: transparent;
  c140: transparent;
  c141: transparent;
  c142: transparent;
  c143: transparent;
  c144: transparent;
  c145: transparent;
  c146: transparent;
  c147: transparent;
  c148: transparent;
  c149: transparent;
  c150: transparent;
  c151: transparent;
  c152: transparent;
  c153: transparent;
  c154: transparent;
  c155: transparent;
  c156: transparent;
  c157: transparent;
  c158: transparent;
  c159: transparent;
  c160: transparent;
  c161: transparent;
  c162: transparent;
  c163: transparent;
  c164: transparent;
  c165: transparent;
  c166: transparent;
  c167: transparent;
  c168: transparent;
  c169: transparent;
  c170: transparent;
  c171: transparent;
  c172: transparent;
  c173: transparent;
  c174: transparent;
  c175: transparent;
  c176: transparent;
  c177: transparent;
  c178: transparent;
  c179: transparent;
  c180: transparent;
  c181: transparent;
  c182: transparent;
  c183: transparent;
  c184: transparent;
  c185: transparent;
  c186: transparent;
  c187: transparent;
  c188: transparent;
  c189: transparent;
  c190: transparent;
  c191: transparent;
  c192: transparent;
  c193: transparent;
  c194: transparent;
  c195: transparent;
  c196: transparent;
  c197: transparent;
  c198: transparent;
  c199: transparent;
  c200: transparent;
  c201: transparent;
  c202: transparent;
  c203: transparent;
  c204: transparent;
  c205: transparent;
  c206: transparent;
  c207: transparent;
  c208: transparent;
  c209: transparent;
  c210: transparent;
  c211: transparent;
  c212: transparent;
  c213: transparent;
  c214: transparent;
  c215: transparent;
  c216: transparent;
  c217: transparent;
  c218: transparent;
  c219: transparent;
  c220: transparent;
  c221: transparent;
  c222: transparent;
  c223: transparent;
  c224: transparent;
  c225: transparent;
  c226: transparent;
  c227: transparent;
  c228: transparent;
  c229: transparent;
  c230: transparent;
  c231: transparent;
  c232: transparent;
  c233: transparent;
  c234: transparent;
  c235: transparent;
  c236: transparent;
  c237: transparent;
  c238: transparent;
  c239: transparent;
  c240: transparent;
  c241: transparent;
  c242: transparent;
  c243: transparent;
  c244: transparent;
  c245: transparent;
  c246: transparent;
  c247: transparent;
  c248: transparent;
  c249: transparent;
  c250: transparent;
  c251: transparent;
  c252: transparent;
  c253: transparent;
  c254: transparent;
  c255: transparent;
  c256: transparent;
  c257: transparent;
  c258: transparent;
  c259: transparent;
  c260: transparent;
  c261: transparent;
  c262: transparent;
  c263: transparent;
  c264: transparent;
  c265: transparent;
  c266: transparent;
  c267: transparent;
  c268: transparent;
  c269: transparent;
  c270: transparent;
  c271: transparent;
  c272: transparent;
  c273: transparent;
  c274: transparent;
  c275: transparent;
  c276: transparent;
  c277: transparent;
  c278: transparent;
  c279: transparent;
  c280: transparent;
  c281: transparent;
  c282: transparent;
  c283: transparent;
  c284: transparent;
  c285: transparent;
  c286: transparent;
  c287: transparent;
  c288: transparent;
  c289: transparent;
  c290: transparent;
  c291: transparent;
  c292: transparent;
  c293: transparent;
  c294: transparent;
  c295: transparent;
  c296: transparent;
  c297: transparent;
  c298: transparent;
  c299: transparent;
  c300: transparent;
  c301: transparent;
  c302: transparent;
  c303: transparent;
  c304: transparent;
  c305: transparent;
  c306: transparent;
  c307: transparent;
  c308: transparent;
  c309: transparent;
  c310: transparent;
  c311: transparent;
  c312: transparent;
  c313: transparent;
  c314: transparent;
  c315: transparent;
  c316: transparent;
  c317: transparent;
  c318: transparent;
  c319: transparent;
  c320: transparent;
  c321: transparent;
  c322: transparent;
  c323: transparent;
  c324: transparent;
  c325: transparent;
  c326: transparent;
  c327: transparent;
  c328: transparent;
  c329: transparent;
  c330: transparent;
  c331: transparent;
  c332: transparent;
  c333: transparent;
  c334: transparent;
  c335: transparent;
  c336: transparent;
  c337: transparent;
  c338: transparent;
  c339: transparent;
  c340: transparent;
  c341: transparent;
  c342: transparent;
  c343: transparent;
  c344: transparent;
  c345: transparent;
  c346: transparent;
  c347: transparent;
  c348: transparent;
  c349: transparent;
  c350: transparent;
  c351: transparent;
  c352: transparent;
  c353: transparent;
  c354: transparent;
  c355: transparent;
  c356: transparent;
  c357: transparent;
  c358: transparent;
  c359: transparent;
  c360: transparent;
  c361: transparent;
}
