foo {
  c-100: #808080;
  c-99: #817e7e;
  c-98: #827d7d;
  c-97: #837c7c;
  c-96: #857a7a;
  c-95: #867979;
  c-94: #877878;
  c-93: #887777;
  c-92: #8a7575;
  c-91: #8b7474;
  c-90: #8c7373;
  c-89: #8e7171;
  c-88: #8f7070;
  c-87: #906f6f;
  c-86: #916e6e;
  c-85: #936c6c;
  c-84: #946b6b;
  c-83: #956a6a;
  c-82: #966969;
  c-81: #986767;
  c-80: #996666;
  c-79: #9a6565;
  c-78: #9c6363;
  c-77: #9d6262;
  c-76: #9e6161;
  c-75: #9f6060;
  c-74: #a15e5e;
  c-73: #a25d5d;
  c-72: #a35c5c;
  c-71: #a45b5b;
  c-70: #a65959;
  c-69: #a75858;
  c-68: #a85757;
  c-67: #aa5555;
  c-66: #ab5454;
  c-65: #ac5353;
  c-64: #ad5252;
  c-63: #af5050;
  c-62: #b04f4f;
  c-61: #b14e4e;
  c-60: #b34d4d;
  c-59: #b44b4b;
  c-58: #b54a4a;
  c-57: #b64949;
  c-56: #b84747;
  c-55: #b94646;
  c-54: #ba4545;
  c-53: #bb4444;
  c-52: #bd4242;
  c-51: #be4141;
  c-50: #bf4040;
  c-49: #c13e3e;
  c-48: #c23d3d;
  c-47: #c33c3c;
  c-46: #c43b3b;
  c-45: #c63939;
  c-44: #c73838;
  c-43: #c83737;
  c-42: #c93636;
  c-41: #cb3434;
  c-40: #cc3333;
  c-39: #cd3232;
  c-38: #cf3030;
  c-37: #d02f2f;
  c-36: #d12e2e;
  c-35: #d22d2d;
  c-34: #d42b2b;
  c-33: #d52a2a;
  c-32: #d62929;
  c-31: #d72828;
  c-30: #d92626;
  c-29: #da2525;
  c-28: #db2424;
  c-27: #dd2222;
  c-26: #de2121;
  c-25: #df2020;
  c-24: #e01f1f;
  c-23: #e21d1d;
  c-22: #e31c1c;
  c-21: #e41b1b;
  c-20: #e61a1a;
  c-19: #e71818;
  c-18: #e81717;
  c-17: #e91616;
  c-16: #eb1414;
  c-15: #ec1313;
  c-14: #ed1212;
  c-13: #ee1111;
  c-12: #f00f0f;
  c-11: #f10e0e;
  c-10: #f20d0d;
  c-9: #f40b0b;
  c-8: #f50a0a;
  c-7: #f60909;
  c-6: #f70808;
  c-5: #f90606;
  c-4: #fa0505;
  c-3: #fb0404;
  c-2: #fc0303;
  c-1: #fe0101;
  c0: #ff0000;
  c1: #ff0000;
  c2: #ff0000;
  c3: #ff0000;
  c4: #ff0000;
  c5: #ff0000;
  c6: #ff0000;
  c7: #ff0000;
  c8: #ff0000;
  c9: #ff0000;
  c10: #ff0000;
  c11: #ff0000;
  c12: #ff0000;
  c13: #ff0000;
  c14: #ff0000;
  c15: #ff0000;
  c16: #ff0000;
  c17: #ff0000;
  c18: #ff0000;
  c19: #ff0000;
  c20: #ff0000;
  c21: #ff0000;
  c22: #ff0000;
  c23: #ff0000;
  c24: #ff0000;
  c25: #ff0000;
  c26: #ff0000;
  c27: #ff0000;
  c28: #ff0000;
  c29: #ff0000;
  c30: #ff0000;
  c31: #ff0000;
  c32: #ff0000;
  c33: #ff0000;
  c34: #ff0000;
  c35: #ff0000;
  c36: #ff0000;
  c37: #ff0000;
  c38: #ff0000;
  c39: #ff0000;
  c40: #ff0000;
  c41: #ff0000;
  c42: #ff0000;
  c43: #ff0000;
  c44: #ff0000;
  c45: #ff0000;
  c46: #ff0000;
  c47: #ff0000;
  c48: #ff0000;
  c49: #ff0000;
  c50: #ff0000;
  c51: #ff0000;
  c52: #ff0000;
  c53: #ff0000;
  c54: #ff0000;
  c55: #ff0000;
  c56: #ff0000;
  c57: #ff0000;
  c58: #ff0000;
  c59: #ff0000;
  c60: #ff0000;
  c61: #ff0000;
  c62: #ff0000;
  c63: #ff0000;
  c64: #ff0000;
  c65: #ff0000;
  c66: #ff0000;
  c67: #ff0000;
  c68: #ff0000;
  c69: #ff0000;
  c70: #ff0000;
  c71: #ff0000;
  c72: #ff0000;
  c73: #ff0000;
  c74: #ff0000;
  c75: #ff0000;
  c76: #ff0000;
  c77: #ff0000;
  c78: #ff0000;
  c79: #ff0000;
  c80: #ff0000;
  c81: #ff0000;
  c82: #ff0000;
  c83: #ff0000;
  c84: #ff0000;
  c85: #ff0000;
  c86: #ff0000;
  c87: #ff0000;
  c88: #ff0000;
  c89: #ff0000;
  c90: #ff0000;
  c91: #ff0000;
  c92: #ff0000;
  c93: #ff0000;
  c94: #ff0000;
  c95: #ff0000;
  c96: #ff0000;
  c97: #ff0000;
  c98: #ff0000;
  c99: #ff0000;
  c100: #ff0000;
}
