foo {
  c-100: #000000;
  c-99: #030000;
  c-98: #050000;
  c-97: #080000;
  c-96: #0a0000;
  c-95: #0d0000;
  c-94: #0f0000;
  c-93: #120000;
  c-92: #140000;
  c-91: #170000;
  c-90: #1a0000;
  c-89: #1c0000;
  c-88: #1f0000;
  c-87: #210000;
  c-86: #240000;
  c-85: #260000;
  c-84: #290000;
  c-83: #2b0000;
  c-82: #2e0000;
  c-81: #300000;
  c-80: #330000;
  c-79: #360000;
  c-78: #380000;
  c-77: #3b0000;
  c-76: #3d0000;
  c-75: #400000;
  c-74: #420000;
  c-73: #450000;
  c-72: #470000;
  c-71: #4a0000;
  c-70: #4d0000;
  c-69: #4f0000;
  c-68: #520000;
  c-67: #540000;
  c-66: #570000;
  c-65: #590000;
  c-64: #5c0000;
  c-63: #5e0000;
  c-62: #610000;
  c-61: #630000;
  c-60: #660000;
  c-59: #690000;
  c-58: #6b0000;
  c-57: #6e0000;
  c-56: #700000;
  c-55: #730000;
  c-54: #750000;
  c-53: #780000;
  c-52: #7a0000;
  c-51: #7d0000;
  c-50: #800000;
  c-49: #820000;
  c-48: #850000;
  c-47: #870000;
  c-46: #8a0000;
  c-45: #8c0000;
  c-44: #8f0000;
  c-43: #910000;
  c-42: #940000;
  c-41: #960000;
  c-40: #990000;
  c-39: #9c0000;
  c-38: #9e0000;
  c-37: #a10000;
  c-36: #a30000;
  c-35: #a60000;
  c-34: #a80000;
  c-33: #ab0000;
  c-32: #ad0000;
  c-31: #b00000;
  c-30: #b30000;
  c-29: #b50000;
  c-28: #b80000;
  c-27: #ba0000;
  c-26: #bd0000;
  c-25: #bf0000;
  c-24: #c20000;
  c-23: #c40000;
  c-22: #c70000;
  c-21: #c90000;
  c-20: #cc0000;
  c-19: #cf0000;
  c-18: #d10000;
  c-17: #d40000;
  c-16: #d60000;
  c-15: #d90000;
  c-14: #db0000;
  c-13: #de0000;
  c-12: #e00000;
  c-11: #e30000;
  c-10: #e60000;
  c-9: #e80000;
  c-8: #eb0000;
  c-7: #ed0000;
  c-6: #f00000;
  c-5: #f20000;
  c-4: #f50000;
  c-3: #f70000;
  c-2: #fa0000;
  c-1: #fc0000;
  c0: #ff0000;
  c1: #ff0000;
  c2: #ff0000;
  c3: #ff0000;
  c4: #ff0000;
  c5: #ff0000;
  c6: #ff0000;
  c7: #ff0000;
  c8: #ff0000;
  c9: #ff0000;
  c10: #ff0000;
  c11: #ff0000;
  c12: #ff0000;
  c13: #ff0000;
  c14: #ff0000;
  c15: #ff0000;
  c16: #ff0000;
  c17: #ff0000;
  c18: #ff0000;
  c19: #ff0000;
  c20: #ff0000;
  c21: #ff0000;
  c22: #ff0000;
  c23: #ff0000;
  c24: #ff0000;
  c25: #ff0000;
  c26: #ff0000;
  c27: #ff0000;
  c28: #ff0000;
  c29: #ff0000;
  c30: #ff0000;
  c31: #ff0000;
  c32: #ff0000;
  c33: #ff0000;
  c34: #ff0000;
  c35: #ff0000;
  c36: #ff0000;
  c37: #ff0000;
  c38: #ff0000;
  c39: #ff0000;
  c40: #ff0000;
  c41: #ff0000;
  c42: #ff0000;
  c43: #ff0000;
  c44: #ff0000;
  c45: #ff0000;
  c46: #ff0000;
  c47: #ff0000;
  c48: #ff0000;
  c49: #ff0000;
  c50: #ff0000;
  c51: #ff0000;
  c52: #ff0000;
  c53: #ff0000;
  c54: #ff0000;
  c55: #ff0000;
  c56: #ff0000;
  c57: #ff0000;
  c58: #ff0000;
  c59: #ff0000;
  c60: #ff0000;
  c61: #ff0000;
  c62: #ff0000;
  c63: #ff0000;
  c64: #ff0000;
  c65: #ff0000;
  c66: #ff0000;
  c67: #ff0000;
  c68: #ff0000;
  c69: #ff0000;
  c70: #ff0000;
  c71: #ff0000;
  c72: #ff0000;
  c73: #ff0000;
  c74: #ff0000;
  c75: #ff0000;
  c76: #ff0000;
  c77: #ff0000;
  c78: #ff0000;
  c79: #ff0000;
  c80: #ff0000;
  c81: #ff0000;
  c82: #ff0000;
  c83: #ff0000;
  c84: #ff0000;
  c85: #ff0000;
  c86: #ff0000;
  c87: #ff0000;
  c88: #ff0000;
  c89: #ff0000;
  c90: #ff0000;
  c91: #ff0000;
  c92: #ff0000;
  c93: #ff0000;
  c94: #ff0000;
  c95: #ff0000;
  c96: #ff0000;
  c97: #ff0000;
  c98: #ff0000;
  c99: #ff0000;
  c100: #ff0000;
}
