foo {
  c0: #000000;
  c1: #000000;
  c2: #000000;
  c3: #000000;
  c4: #000000;
  c5: #000000;
  c6: #000000;
  c7: #000000;
  c8: #000000;
  c9: #000000;
  c10: #000000;
  c11: #000000;
  c12: #000000;
  c13: #000000;
  c14: #000000;
  c15: #000000;
  c16: #000000;
  c17: #000000;
  c18: #000000;
  c19: #000000;
  c20: #000000;
  c21: #000000;
  c22: #000000;
  c23: #000000;
  c24: #000000;
  c25: #000000;
  c26: #000000;
  c27: #000000;
  c28: #000000;
  c29: #000000;
  c30: #000000;
  c31: #000000;
  c32: #000000;
  c33: #000000;
  c34: #000000;
  c35: #000000;
  c36: #000000;
  c37: #000000;
  c38: #000000;
  c39: #000000;
  c40: #000000;
  c41: #000000;
  c42: #000000;
  c43: #000000;
  c44: #000000;
  c45: #000000;
  c46: #000000;
  c47: #000000;
  c48: #000000;
  c49: #000000;
  c50: #000000;
  c51: #000000;
  c52: #000000;
  c53: #000000;
  c54: #000000;
  c55: #000000;
  c56: #000000;
  c57: #000000;
  c58: #000000;
  c59: #000000;
  c60: #000000;
  c61: #000000;
  c62: #000000;
  c63: #000000;
  c64: #000000;
  c65: #000000;
  c66: #000000;
  c67: #000000;
  c68: #000000;
  c69: #000000;
  c70: #000000;
  c71: #000000;
  c72: #000000;
  c73: #000000;
  c74: #000000;
  c75: #000000;
  c76: #000000;
  c77: #000000;
  c78: #000000;
  c79: #000000;
  c80: #000000;
  c81: #000000;
  c82: #000000;
  c83: #000000;
  c84: #000000;
  c85: #000000;
  c86: #000000;
  c87: #000000;
  c88: #000000;
  c89: #000000;
  c90: #000000;
  c91: #000000;
  c92: #000000;
  c93: #000000;
  c94: #000000;
  c95: #000000;
  c96: #000000;
  c97: #000000;
  c98: #000000;
  c99: #000000;
  c100: #000000;
}
