foo {
  c0: transparent;
  c1: transparent;
  c2: transparent;
  c3: transparent;
  c4: transparent;
  c5: transparent;
  c6: transparent;
  c7: transparent;
  c8: transparent;
  c9: transparent;
  c10: transparent;
  c11: transparent;
  c12: transparent;
  c13: transparent;
  c14: transparent;
  c15: transparent;
  c16: transparent;
  c17: transparent;
  c18: transparent;
  c19: transparent;
  c20: transparent;
  c21: transparent;
  c22: transparent;
  c23: transparent;
  c24: transparent;
  c25: transparent;
  c26: transparent;
  c27: transparent;
  c28: transparent;
  c29: transparent;
  c30: transparent;
  c31: transparent;
  c32: transparent;
  c33: transparent;
  c34: transparent;
  c35: transparent;
  c36: transparent;
  c37: transparent;
  c38: transparent;
  c39: transparent;
  c40: transparent;
  c41: transparent;
  c42: transparent;
  c43: transparent;
  c44: transparent;
  c45: transparent;
  c46: transparent;
  c47: transparent;
  c48: transparent;
  c49: transparent;
  c50: transparent;
  c51: transparent;
  c52: transparent;
  c53: transparent;
  c54: transparent;
  c55: transparent;
  c56: transparent;
  c57: transparent;
  c58: transparent;
  c59: transparent;
  c60: transparent;
  c61: transparent;
  c62: transparent;
  c63: transparent;
  c64: transparent;
  c65: transparent;
  c66: transparent;
  c67: transparent;
  c68: transparent;
  c69: transparent;
  c70: transparent;
  c71: transparent;
  c72: transparent;
  c73: transparent;
  c74: transparent;
  c75: transparent;
  c76: transparent;
  c77: transparent;
  c78: transparent;
  c79: transparent;
  c80: transparent;
  c81: transparent;
  c82: transparent;
  c83: transparent;
  c84: transparent;
  c85: transparent;
  c86: transparent;
  c87: transparent;
  c88: transparent;
  c89: transparent;
  c90: transparent;
  c91: transparent;
  c92: transparent;
  c93: transparent;
  c94: transparent;
  c95: transparent;
  c96: transparent;
  c97: transparent;
  c98: transparent;
  c99: transparent;
  c100: transparent;
}
