@media screen {
  a {
    color: #000000;
    height: 8px;
  }

}
a {
  color: #ff0000;
}

@media screen {
  a {
    color: #0000ff;
    height: 10px;
  }

}
a {
  color: #f5f5dc;
}

a b {
  color: #008080;
}

@media screen {
  a b {
    color: #ffa500;
  }

  a b c {
    height: 12px;
  }

}
