div span {
  color: #ff0000;
  background: #0000ff;
}

div {
  color: #808080;
}

div empty span {
  color: #ff0000;
  background: #0000ff;
}

empty1 empty2 div {
  blah: blah;
}

empty1 empty2 div {
  bloo: blee;
}

empty1 empty2 div empty3 span {
  blah: blah;
  blah: blah;
}
