foo {
  c-100: rgba(255, 0, 0, 0);
  c-99: rgba(255, 0, 0, 0.01);
  c-98: rgba(255, 0, 0, 0.02);
  c-97: rgba(255, 0, 0, 0.03);
  c-96: rgba(255, 0, 0, 0.04);
  c-95: rgba(255, 0, 0, 0.05);
  c-94: rgba(255, 0, 0, 0.06);
  c-93: rgba(255, 0, 0, 0.07);
  c-92: rgba(255, 0, 0, 0.08);
  c-91: rgba(255, 0, 0, 0.09);
  c-90: rgba(255, 0, 0, 0.1);
  c-89: rgba(255, 0, 0, 0.11);
  c-88: rgba(255, 0, 0, 0.12);
  c-87: rgba(255, 0, 0, 0.13);
  c-86: rgba(255, 0, 0, 0.14);
  c-85: rgba(255, 0, 0, 0.15);
  c-84: rgba(255, 0, 0, 0.16);
  c-83: rgba(255, 0, 0, 0.17);
  c-82: rgba(255, 0, 0, 0.18);
  c-81: rgba(255, 0, 0, 0.19);
  c-80: rgba(255, 0, 0, 0.2);
  c-79: rgba(255, 0, 0, 0.21);
  c-78: rgba(255, 0, 0, 0.22);
  c-77: rgba(255, 0, 0, 0.23);
  c-76: rgba(255, 0, 0, 0.24);
  c-75: rgba(255, 0, 0, 0.25);
  c-74: rgba(255, 0, 0, 0.26);
  c-73: rgba(255, 0, 0, 0.27);
  c-72: rgba(255, 0, 0, 0.28);
  c-71: rgba(255, 0, 0, 0.29);
  c-70: rgba(255, 0, 0, 0.3);
  c-69: rgba(255, 0, 0, 0.31);
  c-68: rgba(255, 0, 0, 0.32);
  c-67: rgba(255, 0, 0, 0.33);
  c-66: rgba(255, 0, 0, 0.34);
  c-65: rgba(255, 0, 0, 0.35);
  c-64: rgba(255, 0, 0, 0.36);
  c-63: rgba(255, 0, 0, 0.37);
  c-62: rgba(255, 0, 0, 0.38);
  c-61: rgba(255, 0, 0, 0.39);
  c-60: rgba(255, 0, 0, 0.4);
  c-59: rgba(255, 0, 0, 0.41);
  c-58: rgba(255, 0, 0, 0.42);
  c-57: rgba(255, 0, 0, 0.43);
  c-56: rgba(255, 0, 0, 0.44);
  c-55: rgba(255, 0, 0, 0.45);
  c-54: rgba(255, 0, 0, 0.46);
  c-53: rgba(255, 0, 0, 0.47);
  c-52: rgba(255, 0, 0, 0.48);
  c-51: rgba(255, 0, 0, 0.49);
  c-50: rgba(255, 0, 0, 0.5);
  c-49: rgba(255, 0, 0, 0.51);
  c-48: rgba(255, 0, 0, 0.52);
  c-47: rgba(255, 0, 0, 0.53);
  c-46: rgba(255, 0, 0, 0.54);
  c-45: rgba(255, 0, 0, 0.55);
  c-44: rgba(255, 0, 0, 0.56);
  c-43: rgba(255, 0, 0, 0.57);
  c-42: rgba(255, 0, 0, 0.58);
  c-41: rgba(255, 0, 0, 0.59);
  c-40: rgba(255, 0, 0, 0.6);
  c-39: rgba(255, 0, 0, 0.61);
  c-38: rgba(255, 0, 0, 0.62);
  c-37: rgba(255, 0, 0, 0.63);
  c-36: rgba(255, 0, 0, 0.64);
  c-35: rgba(255, 0, 0, 0.65);
  c-34: rgba(255, 0, 0, 0.66);
  c-33: rgba(255, 0, 0, 0.67);
  c-32: rgba(255, 0, 0, 0.68);
  c-31: rgba(255, 0, 0, 0.69);
  c-30: rgba(255, 0, 0, 0.7);
  c-29: rgba(255, 0, 0, 0.71);
  c-28: rgba(255, 0, 0, 0.72);
  c-27: rgba(255, 0, 0, 0.73);
  c-26: rgba(255, 0, 0, 0.74);
  c-25: rgba(255, 0, 0, 0.75);
  c-24: rgba(255, 0, 0, 0.76);
  c-23: rgba(255, 0, 0, 0.77);
  c-22: rgba(255, 0, 0, 0.78);
  c-21: rgba(255, 0, 0, 0.79);
  c-20: rgba(255, 0, 0, 0.8);
  c-19: rgba(255, 0, 0, 0.81);
  c-18: rgba(255, 0, 0, 0.82);
  c-17: rgba(255, 0, 0, 0.83);
  c-16: rgba(255, 0, 0, 0.84);
  c-15: rgba(255, 0, 0, 0.85);
  c-14: rgba(255, 0, 0, 0.86);
  c-13: rgba(255, 0, 0, 0.87);
  c-12: rgba(255, 0, 0, 0.88);
  c-11: rgba(255, 0, 0, 0.89);
  c-10: rgba(255, 0, 0, 0.9);
  c-9: rgba(255, 0, 0, 0.91);
  c-8: rgba(255, 0, 0, 0.92);
  c-7: rgba(255, 0, 0, 0.93);
  c-6: rgba(255, 0, 0, 0.94);
  c-5: rgba(255, 0, 0, 0.95);
  c-4: rgba(255, 0, 0, 0.96);
  c-3: rgba(255, 0, 0, 0.97);
  c-2: rgba(255, 0, 0, 0.98);
  c-1: rgba(255, 0, 0, 0.99);
  c0: #ff0000;
  c1: #ff0000;
  c2: #ff0000;
  c3: #ff0000;
  c4: #ff0000;
  c5: #ff0000;
  c6: #ff0000;
  c7: #ff0000;
  c8: #ff0000;
  c9: #ff0000;
  c10: #ff0000;
  c11: #ff0000;
  c12: #ff0000;
  c13: #ff0000;
  c14: #ff0000;
  c15: #ff0000;
  c16: #ff0000;
  c17: #ff0000;
  c18: #ff0000;
  c19: #ff0000;
  c20: #ff0000;
  c21: #ff0000;
  c22: #ff0000;
  c23: #ff0000;
  c24: #ff0000;
  c25: #ff0000;
  c26: #ff0000;
  c27: #ff0000;
  c28: #ff0000;
  c29: #ff0000;
  c30: #ff0000;
  c31: #ff0000;
  c32: #ff0000;
  c33: #ff0000;
  c34: #ff0000;
  c35: #ff0000;
  c36: #ff0000;
  c37: #ff0000;
  c38: #ff0000;
  c39: #ff0000;
  c40: #ff0000;
  c41: #ff0000;
  c42: #ff0000;
  c43: #ff0000;
  c44: #ff0000;
  c45: #ff0000;
  c46: #ff0000;
  c47: #ff0000;
  c48: #ff0000;
  c49: #ff0000;
  c50: #ff0000;
  c51: #ff0000;
  c52: #ff0000;
  c53: #ff0000;
  c54: #ff0000;
  c55: #ff0000;
  c56: #ff0000;
  c57: #ff0000;
  c58: #ff0000;
  c59: #ff0000;
  c60: #ff0000;
  c61: #ff0000;
  c62: #ff0000;
  c63: #ff0000;
  c64: #ff0000;
  c65: #ff0000;
  c66: #ff0000;
  c67: #ff0000;
  c68: #ff0000;
  c69: #ff0000;
  c70: #ff0000;
  c71: #ff0000;
  c72: #ff0000;
  c73: #ff0000;
  c74: #ff0000;
  c75: #ff0000;
  c76: #ff0000;
  c77: #ff0000;
  c78: #ff0000;
  c79: #ff0000;
  c80: #ff0000;
  c81: #ff0000;
  c82: #ff0000;
  c83: #ff0000;
  c84: #ff0000;
  c85: #ff0000;
  c86: #ff0000;
  c87: #ff0000;
  c88: #ff0000;
  c89: #ff0000;
  c90: #ff0000;
  c91: #ff0000;
  c92: #ff0000;
  c93: #ff0000;
  c94: #ff0000;
  c95: #ff0000;
  c96: #ff0000;
  c97: #ff0000;
  c98: #ff0000;
  c99: #ff0000;
  c100: #ff0000;
}
